<aside style="float: right; background: #F0F0F0; width: 200px;">
  <nav>
    <ul>
      <li>
        <%= link_to 'All Vehicles', vehicles_path %>
      </li>
      <li>
        <%= link_to 'Add New Vehicle', new_vehicle_path %>
      </li>
    </ul>
  </nav>
</aside>
